* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 18px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  line-height: 26px;
  min-width: 375px;
}

a, p, button , td, th, strong, span, li {
  font-size: 18px;
}

select, input, input::placeholder {
  font-size: 16px;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
}

input[type="checkbox"] {
  transform: scale(1.5);
  padding: 10px;
  display: inline-block;
}

p {
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

nav {
  text-align: center;
}

nav > a {
  margin-bottom: 8px;
  text-decoration: none;
  border: none;
  width: 100%;
  display: block;
}

table {
  border: 2px solid #E8E9EB;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

tr {
  border-top: 3px solid #E8E9EB;
}

th {
  background: #E8E9EB;
}

th, td {
  padding: 16px 8px;
  border: 0;
  margin: 0;
}

.nowrap th, .nowrap td {
  white-space: nowrap;
}

select, input[type="text"], input[type="email"], textarea {
  padding: 8px;
  width: 100%;
}

input[type="radio"] {
  cursor: pointer;
}

input[type="radio"] + label {
  display: inline;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  color: white;
  background: black;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: bold;
  width: 100%;
  margin-top: 8px;
}

a {
  text-decoration: none;
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: inherit;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 4px;
}

main h2 {
  display: inline;
}

main h2 + p {
  margin-top: 4px;
}

.table-container {
  border-radius: 4px;
  width: 100%;
  overflow-x: scroll;
}

.table-container > table {
  min-width: 900px;
}

h1, h2, h3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

h4, h5, h6 {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 450px) {
  select, textarea, input[type="text"], input[type="email"] {
    padding: 8px;
    min-width: 300px;
    width: auto;
  }

  button {
    width: auto;
  }

  header {
    flex-direction: row;
  }
  
  nav > a {
    width: auto;
    display: inline-block;
    margin-left: 8px;
  }
}
