* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 18px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  text-align: right;
}

nav > a {
  margin-left: 8px;
  text-decoration: none;
}

table {
  width: 100%;
  text-align: left;
}

thead, th {
  background: #eee;
}

th, td {
  padding: 8px;
  border: 0;
  margin: 0;
}

input[type="text"], input[type="email"] {
  padding: 8px;
  min-width: 300px;
}

button {
  padding: 8px 16px;
  color: white;
  background: black;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: bold;
}

a {
  text-decoration-style: dotted;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 4px;
}
