<!DOCTYPE html>
<html>
  <head>
    <title>Better Interviews | Organization</title>
  </head>
  <body>
    <h1>Organization</h1>
    <form action="/organization/member/" method="post">
      <div>
        <h2>Invite</h2>
        <label for="type">Type the email of the person you want to invite.</label>
      </div>
      <div>
        <input name="email" type="email" placeholder="person@organization.com" required />
        <button type="submit">Invite</button>
      </div>
    </form>
    <h2>
      Members
    </h2>
    <ul>
      {{ range .Users }}
      <li>
        {{ .Email }}
      </li>
      {{ end }}
    </ul>
    <h2>Feedback</h2>
    <a href="/feedback/">Gather Interview Feedback</a>
    <ul>
      {{ range .Feedback }}
      <li>
        Role: {{ .Role }} <a href="/feedback/give/{{ .ID }}">Give Feedback</a> or <a href="/feedback/given/{{ .ID }}">View Feedback</a>
      </li>
      {{ end }}
    </ul>
  </body>
</html>
