<!DOCTYPE html>
<html>
  <head>
    <title>Better Interviews | Feedback Given</title>
  </head>
  <body>
    <h1>Feedback Given</h1>
    <h2>{{ .Role }}</h2> 
    <form action="/feedback/give/{{ .ID }}" method="post">
      {{ $creatorID := print .CreatorID }}
      {{ $user := UserEmail $creatorID }}
      <div>
        Requested By: {{ $user.Email }}
      </div>
      <div>
        On: {{ .CreatedAt.Format "January 2 2006" }}
      </div>


      <table>
        <thead>
          <tr>
            <th>
              Submitted By 
            </th>
            <th>
              Submitted On 
            </th>
            {{ range .Questions }} 
              <th>
                {{ .Text }} 
              </th> 
            {{ end }}
          </tr> 
        </thead>
        <tbody>
          {{ range .Responses }}
            <tr>
              <td>
                {{ $creatorID := print .CreatorID }}
                {{ $user := UserEmail $creatorID }}
                {{ $user.Email }}
              </td>
              <td>
                {{ .CreatedAt.Format "January 2 2006" }}
              </td>
              {{ range .Answers }}
                <td>
                  {{ if .Response }}  Yes {{ else }} No {{ end }}
                </td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody> 
      </table>
    </form>
  </body>
</html>
