<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Better Interviews | Feedback Given</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <style>
      {{ template "index.css" }}
    </style>
  </head>
  <body>
    {{ $email := UserEmail .GiverID }}
    <p>
      You received feedback for candidate <strong>{{ .Candidate }}</strong> for the role <strong>{{ .Role }}</strong> on team <strong>{{ .Team }}</strong>
      <br />
      from <a href="mailto:{{ $email }}">{{ $email }}</a> on {{ .Date.Format "January 2 2006" }}.
    </p>

    {{ $responses := .Responses }}
    <table style="margin-top: 16px; width: auto; table-layout: fixed;">
      <tbody>
          {{ range .Questions }} 
            <tr>
              <th style="max-width: 50%; min-width: 200px;">
                {{ .Text }} 
              </th> 
              {{ $questionID := .ID }}
              {{ range $responses }}
                {{ range .Answers }}
                  {{ if eq .QuestionID $questionID }}
                    <td style="max-width: 50%; min-width: 100px;">
                      {{ if .Response }}  Yes {{ else }} No {{ end }}
                    </td>
                  {{ end }}
                {{ end }}
              {{ end }}
            </tr>
          {{ end }}
      </tbody>
    </table>

    <p>
      They
      <strong>
      {{ if .Recommend }} 
        do
      {{ else }}
        do not
      {{ end }}
      </strong>
      recommend this candidate for this position.
    </p>

  </body>
</html>
