<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Better Interviews | Feedback</title>
    <style>
      {{ template "index.css" }}
    </style>
  </head>
  <body>
    <header>
      <h1>Give Feedback</h1>
      <nav>
        <a href="/organization/">My Organization</a>
        <a href="/auth/logout/">Log Out</a>
      </nav>
    </header>

    <p>
      {{ $email := UserEmail .CreatorID }}
      You are leaving feedback for the role, <strong>{{ .Role }}</strong>. 
      <br />
      Your feedback was requested by <a href="mailto:{{ $email }}">{{ $email }}</a> on {{ .CreatedAt.Format "January 2 2006" }}.
    </p>

    <form action="/feedback/give/{{ .ID }}" method="post">

      {{ range .Questions }}
      <div class="form-group">
        <div>
          <label for="{{ .ID }}">{{ .Text }}</label>
        </div>
        <div>
          <input name="{{ .ID }}" type="radio" value="true" required />
          Yes
        </div>
        <div>
          <input name="{{ .ID }}" type="radio" value="false" required />
          No
        </div>
      </div>
        

      {{ end }}

      <div>
        <button type="submit">Save Questions</button>
      </div>
    </form>
  </body>
</html>
