<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Better Interviews | Feedback Given</title>
    <style>
      {{ template "index.css" }}
    </style>
  </head>
  <body>
    <header>
      <h1>Better Interviews</h1>
      <nav>
        <a href="/organization/">My Organization</a>
        <a href="/auth/logout/">Log Out</a>
      </nav>
    </header>

    <p>
      Viewing feedback for role <strong>{{ .Role }}</strong> on team <strong>{{ .Team }}</strong>.
    </p>

    {{ $email := UserEmail .CreatorID }}
    <p>
      Opened by <a href="mailto:{{ $email }}">{{ $email }}</a> on {{ .CreatedAt.Format "January 2 2006" }}.
    </p>

    <form action="/feedback/give/{{ .ID }}" method="post">
      {{ $questions := .Questions }}

      {{ range .Requests }}
        {{ $responses := .Responses }}
        <hr style="margin-bottom: 18px; display: block;" />
        <p>
          <strong>Candidate:</strong> {{ .CandidateName }} <br />
          Requested on {{ .CreatedAt.Format "January 2 2006" }}.
        </p>
        {{ if len .Responses }}
          <div class="table-container" style="margin-top: 16px;">
            <table>
              <tbody>
                <tr>
                  <th>
                    Submitted By 
                  </th>
                  {{ range .Responses }}
                    <td>
                      {{ $email := UserEmail .CreatorID }}
                      {{ $email }}
                    </td>
                  {{ end }}
                </tr> 
                <tr>
                  <th>
                    Submitted On 
                  </th>
                  {{ range .Responses }}
                    <td>
                      {{ .CreatedAt.Format "January 2 2006" }}
                    </td>
                  {{ end }}
                </tr>
                  {{ range $questions }} 
                    <tr>
                      <th>
                        {{ .Text }} 
                      </th> 
                      {{ $questionID := .ID }}
                      {{ range $responses }}
                        {{ range .Answers }}
                          {{ if eq .QuestionID $questionID }}
                            <td>
                              {{ if .Response }}  Yes {{ else }} No {{ end }}
                            </td>
                          {{ end }}
                        {{ end }}
                      {{ end }}
                    </tr>
                  {{ end }}
                <tr>
                  <th>
                    Do you recommend this candidate for this position?
                  </th>
                  {{ range .Responses }}
                    <td>
                      {{ if .Recommend }}
                        Yes
                      {{ else }}
                        No
                      {{ end }}
                    </td>
                  {{ end }}
                </tr> 
              </tbody>
            </table>
          </div>
          {{ if lt (len .Responses) (len .InterviewerEmails) }}
            <p>
              Still waiting on feedback from 
              {{ range .InterviewerEmails }}  
                {{ $email := . }}
                {{ $found := false }} 
                {{ range $responses }}
                  {{ $email2 := UserEmail .CreatorID }}
                  {{ if eq $email $email2 }}
                    {{ $found = true }}
                  {{ end }}
                {{ end }}
                {{ if not $found }}
                  <a href="{{ . }}">{{ . }}</a>
                {{ end }}
              {{ end }}
            </p>
          {{ end }}
        {{ else }}
          <p>
            This candidate has not received feedback yet. Still waiting on:
          </p>
          <ul style="margin-top: -8px;">
            {{ range .InterviewerEmails }} 
            <li><a href="mailto:{{ . }}">{{ . }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      {{ else }}
        <hr />
        <p>
          No one has requested feedback for this role.
        </p>
        <p>
          <a href="/feedback/request/{{ .ID }}">Click here to request feedback.</a>
        </p>
      {{ end }}
    </form>
  </body>
</html>
